<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313609006512-ab948mqim7kcu2phma1dh9u0t5b1lbrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313609006512-ab948mqim7kcu2phma1dh9u0t5b1lbrg</string>
	<key>API_KEY</key>
	<string>AIzaSyDWFAeEXlNyxhQ2if7t2QYE_nfG_y0t8HA</string>
	<key>GCM_SENDER_ID</key>
	<string>313609006512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavorstest.prod</string>
	<key>PROJECT_ID</key>
	<string>flavor-test-prod-437f2</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-test-prod-437f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313609006512:ios:5b7d80be7f2e6098a27a75</string>
</dict>
</plist>